body {
  margin: 0;
  padding: 0;
  print-color-adjust: exact;
}

.main {
  height: 100vmin;
  width: 100vmin;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 10px;
}
.center {
  width: 74vmin;
  height: 72vmin;
}
.board {
  width: 74vmin;
  height: 72vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Helvetica;
}
.tile {
  width: 8vmin;
  height: 8vmin;
  text-align: center;
  line-height: 9vmin;
  font-size: 5vmin;
  font-weight: 100;
  background-color: darksalmon;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #333;
}
.tile.correct-false {
  color: rgb(138, 17, 17);
}
.hint {
  width: calc(8vmin / 3);
  height: calc(8vmin / 3);

  text-align: center;
  line-height: 3vmin;
  font-size: 2vmin;
  color: black;
}
.tile:nth-child(2n) {
  background-color: bisque;
}
.tile:nth-child(n + 19):nth-child(-n + 27),
.tile:nth-child(n + 46):nth-child(-n + 54) {
  border-bottom: 0.5vmin solid black;
}
.tile:nth-child(9n + 3),
.tile:nth-child(9n + 6) {
  border-right: 0.5vmin solid black;
}
.tile.selected-true {
  background-color: #aaaaaa;
}
.tile.solid-true {
  color: black;
}
.panel {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  padding-right: 5px;
}
.nums-table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: stretch;
  width: 5vmin;
}
button {
  font-size: 2vmin;
  height: 10vmin;
  margin-bottom: 2px;
}
.num-cell {
  width: 2vmin;
  font-size: 2vmin;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid black;
}
.num-cell.num-all {
  background-color: rgb(132, 220, 132);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media print {
  .panel {
    display: none;
  }
}
